ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  display: inline;
  width: 60%;
}

li {
  font-style: italic;
  font-size: 120%;
  float: left;
  width: 18%;
  display: inline;
  border: dotted;
  border-color: white;
  margin: 0.5%;

}

#cover{
  width: 40%;
  float: left;
  cursor: pointer;
}

#information{
  margin-left: 5%;
  width: 40%;
  float: left;

}

#books{
  margin: 2%;
}

h3{
  cursor: pointer;
}
